body {
    background-color: rgb(94, 190, 178);
}
ul li a:hover {
    color: rgb(255, 204, 174);
}
h1,p,ul,li,a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul li {
    width: 100px;
    padding: 2px 4px;
    border: 2px solid ghostwhite;
    margin: 7px;
}